@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'vazirB';
  src: url("https://v1.fontapi.ir/css/Vazir")
}

@layer base {
  body{
    direction: rtl;
    @apply  box-border p-0 m-0  bg-[#fff]
  }
}



