@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    direction: rtl;
    @apply  box-border p-0 m-0  bg-[#fff]
  }
  /* button {
    @apply border border-black rounded-lg px-5 py-1
  } */
  /* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  } */
}



