@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'vazirB';
  src: url("https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css")
}

@layer base {
  body{
    direction: rtl;
    @apply  box-border p-0 m-0  bg-[#fff]
  }
}



